.libros {
    overflow-y: scroll;
}

.card {
    height: 600px;
    width: 1580px;
}

.cabezera {
    background-color: #012844;
    color: white;
}

.contenedor {
    width: 100%;
    display: flex;
    max-width: max-content;
    justify-content: center;
    align-items: center;
}

.buscar{
    width: 450px;
}

.solicitud{
    
    background-color: #dde1e3;
    color: #012844;
    margin-left: 91%;
    margin-top: -3%;
   
   
}

h5{
   font-size: 1.5cm;
}
.tarjeta {
    margin: 60px;
    border-radius: 8px;
    overflow: hidden;
    background: #012844;
   
}
.imagen{
    margin-block-end: -5%;
    
    

}

.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;



}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 18px;
    display: block;
   text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
color: #000;
}

.popup h3{
    font-size: 36px;
    margin-bottom: 10px;
}
.popup h4{
    font-size: 26px;
    margin-bottom: 40px;
}


