
   
<div class="contenedor">
    
<div class="card" >
    
    <div class="card-header">

    <div class="imagen">
        <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal.png?alt=media&token=5c5a4b10-135a-4467-a1cf-3347bbe58df5" 
          height="80"  width="350"  >
    </div>
         
           
       
     
        <h5 class="text-center h5" >Listado de Libros</h5>
        
        <form class="d-flex buscar" role="search" >
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" style="background-color: #e5e7e8;">
            <button class="btn" type="submit" >
              <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c"
              ></button>           
          </form >

            <button type="button" class="btn btn-outline-light solicitud"   routerLink="">Solicitar libro</button>
                
    </div>
   
        <div class="card-body text-primary libros" >
            <table class="table table-bordered table-stripped libros" >
                <thead class="text-center cabezera">
                    <tr>
                        <th>Código</th>
                        <th>Título del Libro</th>
                        <th>Categoría</th>
                        <th>Año de <br>Publicación</th>
                        <th>Descripción</th>
                        <th>Disponible</th>
                    </tr>    

                </thead>
                
                <tbody class="text-center ">
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr><tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                    <tr>
                        <td>132313</td>
                        <td>3424</td>
                        <td>42432</td>
                        <td>42342</td>
                        <td>423432</td>
                        <td>432432</td>
                    </tr>
                </tbody>
            </table>
        </div>

  

</div>
</div>


    