<body>
  <div class="comentario">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="margin-top: 1.2%;" fill="currentColor"
      class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </svg>
    <textarea class="form-control" placeholder="Dejanos una sugerencias de algun libro" id="floatingTextarea"></textarea>
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -30%;" width="16" height="16" fill="currentColor"
        class="bi bi-send-fill" viewBox="0 0 16 16">
        <path
          d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
      </svg>
    </button>
  </div>

  <div class="contenedor">
    <div class="tarjeta">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1992.3881407472752!2d-78.97512357175827!3d-2.880778786525254!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd4a76bc986f8990!2sInstituto%20Superior%20Tecnologico%20Del%20Azuay!5e0!3m2!1ses!2sec!4v1662004355970!5m2!1ses!2sec"
        width="400" height="200" style="border:0;" class="rounded row align-items-center" allowfullscreen=""
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <div class="tarjeta row justify-content-right">
      <h1 class="text-white" style="font-size: larger;">Contactanos</h1>
      <h4 class="text-white" style="font-size: medium;">
        <p> Dirección: Octavio Chacón Moscoso 1-98 <br>y Primera Transversal (Parque industrial)</p>

        <p>Teléfono: 07 2809 551 - 0995363076</p>
        <p>Correo Electrónico:
          <a href=»info@tecazuay.edu.ec»>info@tecazuay.edu.ec</a>
        </p>
      </h4>
    </div>
    <div class="tarjeta row align-items-start  ">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Imagenes%2Fbibliotecaimg2.jpg?alt=media&token=3bf58c80-e1aa-4a69-9e0a-0bafd82628a5"
        alt="" class="rounded" width="200" height="200">
    </div>
  </div>
</body>