<style>
    
    h3 {
         text-align: center; 
         margin-inline-start: 40%;
     
     }
     
     h4 {
     font-size:45px;
     margin-top: 1%;
     text-align: center; 
 
     }
     h5 {
      position: absolute;
    top: 253px;

     left: 65%;
     }
 
     h6 {
 margin-top: 1%;
 font-size: 0px;
     text-align: center; 
     margin-inline-start: 20%;
 
     }
 
     h1 {
       position: absolute;
       left: 2%;
       margin-left: -1px;
       margin-top: 90px;
       top: 0;
     }
 
     h2{
       text-align: center; 
       font-size:20px;
 
 
     }
 
     
 
     
 </style>
 

 
 <header> <h4><strong>Registro del Bibliotecario</strong></h4><br> </header>
 
 <body class="elemento" ba>
 <form #login="ngForm" style="text-align:center ;" ngNativeValidate class="row gy-2 gx-3 align-items-center" (ngSubmit)="actualizarBibliotecario(bibliotecarios)" onsubmit="alert('Se ha registrado con exito')">
  
  <div class="row mb-3">
    <label for="cedula" class="col-sm-3 col-form-label"> <h3>Id:</h3></label>
    <div class="col-sm-5">
      <h6><input #idss  type="number" class="form-control text-center" (keyup)="onKeydownEvent($event, buscaer.value)" #buscaer placeholder="Ingrese un id" name="idd" required>
     </h6>
      </div>
  </div>
  
  
  
  
  <div class="row mb-3">
       <label for="cedula" class="col-sm-3 col-form-label"> <h3>Cédula del bibliotecario:</h3></label>
       <div class="col-sm-5">
         <h6><input #cedulas  type="number" class="form-control text-center" [(ngModel)]="persona.cedula" placeholder="Ingrese un numero de cedula" name="cedula" required>
        </h6>
         </div>
     </div>
 
     
 
     <div class="row mb-3">
       <label for="nombres" class="col-sm-3 col-form-label"><h3>Nombres:</h3></label>
       <div class="col-sm-5">
         <h6><input #nombre type="text" class="form-control text-center" [(ngModel)]="persona.nombres"  placeholder="Aqui apareceran sus datos" name="nombre"  required>
             </h6>
         </div>
     </div>
     <div class="row mb-3">
       <label for="celular" class="col-sm-3 col-form-label"><h3>Celular:</h3></label>
       <div class="col-sm-5">
         <h6><input type="number" class="form-control text-center" [(ngModel)]="persona.celular"  placeholder="Aqui apareceran sus datos"   name="celular"  required>
           </h6>
       </div>
     </div>
   <div class="row mb-3">
     <label for="correo" class="col-sm-3 col-form-label"><h3>Email:</h3></label>
     <div class="col-sm-5">
       <h6><input type="email" class="form-control text-center" [(ngModel)]="persona.correo" placeholder="Aqui apareceran sus datos"  name="correo"  required>
           </h6>
       </div>
   </div>


   <div class="row mb-3">
    <label for="usuario" class="col-sm-3 col-form-label"><h3>Rol:</h3></label>
    <div class="col-sm-6">
      

        <h2>
          <input class="form-check-input" type="radio"  name="flexRadioDefault1" value="0" id="admin" [(ngModel)]="persona.rol" required>
          &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault3">
            Administrador
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
          <input class="form-check-input" type="radio" name="flexRadioDefault1" value="1" id="biblioteca" [(ngModel)]="persona.rol" required>
          &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault4">
            Bibliotecario
          </label>
        </h2>  
       

     
    </div>
  </div>
 
   


 
 
       <div class="row mb-3">
             <label for="usuario" class="col-sm-3 col-form-label"><h3>Fecha de inicio:</h3></label>
             <div class="col-sm-5">
               <h6><input type="datetime"  [(ngModel)]="bibliotecarios.fecha_inicio" value="{{bibliotecarioE.fecha_inicio}}" class="form-control text-center" placeholder="Ingrese la fecha de entrada"  name="fecha_inicio" required>
               </h6>
             </div>
           </div>
 
 
           <div class="row mb-3">
             <label for="usuario" class="col-sm-3 col-form-label"><h3>Fecha de salida:</h3></label>
             <div class="col-sm-5">
               <h6><input type="datetime-local" class="form-control text-center"  [(ngModel)]="bibliotecarioE.fecha_fin" placeholder="Ingrese la fecha de salida"  name="fecha" required>
               </h6>
             </div>
           </div>
 
 
       <div class="row mb-3">
         <label for="usuario" class="col-sm-3 col-form-label"><h3>Estado:</h3></label>
         <div class="col-sm-6">
           
 
             <h2>
               <input class="form-check-input" type="radio"  name="flexRadioDefault" value="true" id="activo" [(ngModel)]="bibliotecarios.activo_bibliotecario" required>
               &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault1">
                 Activo
               </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             
             
               <input class="form-check-input" type="radio" name="flexRadioDefault" value="false" id="inactivo" [(ngModel)]="bibliotecarios.activo_bibliotecario" required>
               &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault2">
                 Inactivo
               </label>
             </h2>  
            
 
          
         </div>
       </div>
     <div class="row mb-3">
         <label for="usuario" class="col-sm-3 col-form-label"><h3>Usuario:</h3></label>
         <div class="col-sm-5">
           <h6><input type="text" class="form-control text-center" [(ngModel)]="persona.usuario" placeholder="Ingrese un nombre de usuario"  name="usuario" required>
             </h6>
         </div>
       </div>
 
       
     <div class="row mb-3">
         <label for="clave" class="col-sm-3 col-form-label"><h3>Contraseña:</h3></label>
         <div class="col-sm-5">
           <h6><input type="password" class="form-control text-center" [(ngModel)]="persona.clave" placeholder="Ingrese una contraseña"  name="clave" required>
             </h6>
         </div>
       </div>
       
       <div class="container overflow-hidden text-center col-sm-1 ">
         <div class="row gx-5">
           
           <div class="col">
             
             
             <button class="btn" (click)="actualizarBibliotecario(bibliotecarios)" style="background-color:transparent">
               <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fmodificar.png?alt=media&token=80f892de-c49a-4833-8019-1e8d7ec8ef06" width=30 height=30 align="center">
               Modificar</button>
            
           </div>
 
 
           <div class="col">
             
             
             <button class="btn" style="background-color:transparent" routerLink="/app-lista-bibliotecarios">
               <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Flistas.png?alt=media&token=97df573d-51ec-4d24-8b96-d68164b717ff" width=30 height=30 align="center" >
               Lista</button>
            
           </div>
         </div>
       </div>
       
 
 
     </form>
     <h1>
     <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal.png?alt=media&token=5c5a4b10-135a-4467-a1cf-3347bbe58df5" class="rounded float-start" alt="" width="300" height="85">
     </h1>
 </body>
     
 

