



<header>
  <h4><strong>Registro del Bibliotecario</strong></h4><br>
</header>

<body class="elemento" >
  <form #login="ngForm"  ngNativeValidate style="align-items: center;" (ngSubmit)="createbibliotecario(login)">


    <div style="display: flex; width: 80; ">
      <label for="cedula" class="col-sm-3 col-form-label">
        <h3>Cedula bibliotecario:</h3>
      </label>
      <div class="col-sm-5">
        <h6><input #cedulas type="text" class="form-control text-center" (ngModel)="personaP.cedula"
            placeholder="Ingrese un numero de cedula" name="cedula" required></h6>

            <div class="row"  style="display: flex; margin-left: 131%; border: 1px solid rgb(3, 0, 0); width: 30%; margin-top: -10%;">
      
              <button class="btn" type="submit" id="guardar" style="background-color:transparent">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fguardar.png?alt=media&token=4325fe8d-024f-4aca-bd99-b5439360b821"
                  width=30 height=30 align="center">
                Guardar</button>
              <button class="btn" style="background-color:transparent" routerLink="/app-lista-bibliotecarios">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Flistas.png?alt=media&token=97df573d-51ec-4d24-8b96-d68164b717ff"
                  width=30 height=30 align="center">
                Lista</button>
    
        </div>
      </div>
      <button type="button" (click)="buscarFenix(cedulas.value,nombre.value)" class="btn btn-outline-secondary"
        style="display: flex; margin-left: 1%; height: 10%; margin-top: 5px;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c"
          width="20" height="20">
      </button>

      
    </div>

    
    



    <div class="row mb-3">
      <label for="nombres" class="col-sm-3 col-form-label">
        <h3>Nombres:</h3>
      </label>
      <div class="col-sm-5">
        <h6><input #nombre type="text" class="form-control text-center" (ngModel)="personaP.nombres"
            value="{{personaP.nombres}}" placeholder="Aqui apareceran sus datos" name="nombre" required>
        </h6>
      </div>
    </div>
    <div class="row mb-3">
      <label for="celular" class="col-sm-3 col-form-label">
        <h3>Celular:</h3>
      </label>
      <div class="col-sm-5">
        <h6><input type="number" class="form-control text-center" (ngModel)="personaP.celular"
            value="{{personaP.celular}}" placeholder="Aqui apareceran sus datos" name="celular" required>
        </h6>
      </div>
    </div>
    <div class="row mb-3">
      <label for="correo" class="col-sm-3 col-form-label">
        <h3>Email:</h3>
      </label>
      <div class="col-sm-5">
        <h6><input type="email" class="form-control text-center" (ngModel)="personaP.correo"
            value="{{personaP.correo}}" placeholder="Aqui apareceran sus datos" name="correo" required>
        </h6>
      </div>
    </div>


    <div class="row mb-3">
      <label for="usuario" class="col-sm-3 col-form-label">
        <h3>Rol:</h3>
      </label>
      <div class="col-sm-6">


        <h2>
          <input class="form-check-input" type="radio" name="flexRadioDefault1" value="0" id="admin"
            (ngModel)="persona.tipo" required>
          &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault3">
            Administrador
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


          <input class="form-check-input" type="radio" name="flexRadioDefault1" value="1" id="biblioteca"
            (ngModel)="persona.tipo" required>
          &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault4">
            Bibliotecario
          </label>
        </h2>



      </div>
    </div>






    <div class="row mb-3">
      <label for="usuario" class="col-sm-3 col-form-label">
        <h3>Fecha de inicio:</h3>
      </label>
      <div class="col-sm-5">
        <h6><input type="date" (ngModel)="bibliotecarios.fechaInicio" class="form-control text-center"
            placeholder="Ingrese la fecha de entrada" name="usuario" required>
        </h6>
      </div>
    </div>


    <div class="row mb-3">
      <label for="usuario" class="col-sm-3 col-form-label">
        <h3>Fecha de salida:</h3>
      </label>
      <div class="col-sm-5">
        <h6><input type="date" class="form-control text-center" (ngModel)="bibliotecarios.fechaFin"
            placeholder="Ingrese la fecha de salida" name="usuario" required>
        </h6>
      </div>
    </div>


    <div class="row mb-3">
      <label for="usuario" class="col-sm-3 col-form-label">
        <h3>Estado:</h3>
      </label>
      <div class="col-sm-6">


        <h2>
          <input class="form-check-input" type="radio" name="flexRadioDefault" value="true" id="activo"
            (ngModel)="bibliotecarios.activoBibliotecario" required>
          &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault1">
            Activo
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


          <input class="form-check-input" type="radio" name="flexRadioDefault" value="false" id="inactivo"
            (ngModel)="bibliotecarios.activoBibliotecario" required>
          &nbsp;&nbsp;<label class="form-check-label" for="flexRadioDefault2">
            Inactivo
          </label>
        </h2>



      </div>
    </div>
    

    



  </form>




  <h1>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
      class="rounded float-start" alt="" width="200" height="50">
  </h1>
</body>