<body>


  <div style="width: 100%; margin-left: 1px;">
    <h4
      style="font-family: 'Times New Roman', Times, serif; font-size: 400%;  display: flex;justify-content: center; align-items: center;">
      <strong>Crear nueva cuenta</strong></h4><br>
    <form  ngNativeValidate class="row gy-2 gx-3 align-items-center" (ngSubmit)="create()"
       style="width: 100%; ">

      <div style="display: flex;  align-items: center;">
        <label for="cedula" class="col-sm-2 col-form-label" style="font-size: 21px;"> <strong>Cédula:</strong></label>
        <input #cedula type="text"  class="form-control text-center" placeholder="Verifique su cedula"
        [(ngModel)]="persona.cedula" (keyup)="buscarFenix(cedula.value)" name="cedula" required style="height: 30%; margin-right: 10px; display: flex;" >
        <button type="button"  class="btn btn-outline-secondary"
          style=" width: 70px;">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c"
            alt="" width="20" height="20"></button>
      </div>





      <div style="display: flex;  align-items: center;">
        <label for="nombres" class="col-sm-2 col-form-label" style="font-size: 21px;">
          <strong>Nombres:</strong>
        </label><input type="text" class="form-control text-center" placeholder="Aqui apareceran sus datos" disabled
        [(ngModel)]="persona.nombres"  name="nombres" required style=" height: 0%;">
      </div>

      <div style="display: flex;  align-items: center;">
        <label for="nombres" class="col-sm-2 col-form-label" style="font-size: 21px;">
          <strong>Apellidos:</strong>
        </label><input type="text" class="form-control text-center" placeholder="Aqui apareceran sus datos" disabled
        [(ngModel)]="persona.apellidos"  name="ape" required style=" height: 0%;">
      </div>

      <div style="display: flex;  align-items: center;">
        <label for="celular" class="col-sm-2 col-form-label" style="font-size: 21px;">
          <strong>Celular:</strong>
        </label>

        <input type="text" class="form-control text-center" placeholder="Aqui apareceran sus datos" disabled
          [(ngModel)]="persona.celular"  name="celular" required style=" height: 0%;">


      </div>


      <div style="display: flex;  align-items: center;">
        <label for="correo" class="col-sm-2 col-form-label" style="font-size: 21px;">
          <strong>Email:</strong>
        </label>

        <input type="email" class="form-control text-center" placeholder="Aqui apareceran sus datos"
        [(ngModel)]="persona.correo"  name="corr" required style=" height: 0%;">


      </div>


      <!-- <span id="alertaClave1" style="color: red; font-size: 12px; display: flex;"></span>

      <div style="display: flex;  align-items: center;">
        <label for="clave" class="col-sm-2 col-form-label" style="font-size: 21px; display: flex;">
          <strong>Verifique:</strong>
        </label>
        <input type="password" class="form-control text-center" placeholder="Repita la contraseña" id="clave2" required
          style=" height: 0%; margin-left: 30px; margin-right: 122px;" (input)="validar()">
        <div class="row">
          <button type="submit" id="botonEnviar" class="btn btn-outline-primary"
            style="width: 150px; margin-left: -40%; margin-top: -45%;">Registrarse</button>

        </div>
      </div>

      <span id="alertaClave2" style="color: red; font-size: 12px;"></span>
 -->

      
      <span id="alertaClave1" style="color: red; font-size: 12px; display: flex;"></span>

      <div style="display: flex;  align-items: center; justify-content: center;">
        
        <div class="row">
          <button type="submit" id="botonEnviar" class="btn btn-outline-primary"
            >Registrarse</button>

        </div>
      </div>

        






      <img
        src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo.png?alt=media&token=7b1381e0-7e13-4705-bc6b-5cb0d87bf02b"
        class="rounded float-start" alt=""
        style="margin-top: 5%; margin-bottom: 5%; height: 100px; width: 100px; margin-left: 42%; filter: blur(4px);opacity: 0.8; ">




    </form>
  </div>
</body>