
<style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      text-align: center;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    
    h3 {
        text-align: center; 
      color: gray;
    
    }
    
    h4 {
    font-size:20px;
      color: gray;
    text-align: center; 
    }
    
    </style>

<table>
    
        
    <tr>
      <th>Nombre:</th>
      <th><input type="text" name="nombre" value="" size="30" required><br></th>
    </tr>
    <tr>
      <td>Primer Apellido:</td>
      <td><input type="text" name="nombre" value="" size="30" required></td>

    </tr>
    <tr>
      <td>Segundo Apellido:</td>
      <td><input type="text" name="nombre" value="" size="30" required></td>

    </tr>
    <tr>
      <td>Telefono de contacto:</td>
      <td><input type="text" name="nombre"  size="30" placeholder="escribe telefono" required></td>

    </tr>

    
    <tr>
      <td>E-mail:</td>
      <td><input type="email" name="name" value="" size="30" placeholder="escribe correo electronico" required></td>

    </tr>
    <tr>
      <td>Tipo de tarjeta:</td>
      <td><select NAME="combo" required>
        <option> </option>
        <option>Mastercard</option>
  <option>Visa</option>
  <option>Pacificar</option>
  <option>American Express</option>
      </select>
    </td>

    </tr>
    <tr>
      <td>Numero de tarjeta:</td>
      <td><input type="text" name="name" value="" size="30" placeholder="numero de tarjeta" required></td>

    </tr>
    <tr>
        <td>Nombre de usuario:</td>
        <td><input type="text" name="name" value="" size="30" required></td>
  
      </tr>
      <tr>
        <td>Contraseña:</td>
        <td><input type="password" name="name" value="" size="30" required></td>
  
      </tr>
      <tr>
        <td>Verificar contraseña:</td>
        <td><input type="password" name="name" value="" size="30" required></td>
  
      </tr>

    
  </table>