
<style>
  h3 {

  position: absolute;
  left: 53%;
  margin-left: -1px;
  margin-top: 109px;
  top: 0;
}
h2 {
  font-size:18px;
position: absolute;
left: 54%;
margin-left: -1px;
margin-top: 209px;
top: 0;
}
h1 {

  font-size:20px;
  text-align: center;
position: absolute;
left: 51%;
margin-left: -1px;
margin-top: 595px;
top: 0;
}

</style>
<app-form></app-form>
<h3>
  <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20largo%20instituto.png?alt=media&token=4106a2c7-b5d6-4944-8323-6df2d6039a76" class="rounded float-start" alt="" width="750" height="95">
</h3>

  <h2>
    <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t1.6435-9/79342208_630661044345312_247736191829409792_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=08FBQOdls2cAX8NXmfj&_nc_ht=scontent.fcue1-1.fna&oh=00_AT-wJqMRbh98uF7cSE7EbXX5yEt5slWXmYgZ7bVaXdi7aA&oe=63367073" class="img-thumbnail" alt="" width="670" height="300">
  </h2>
  <h1><em>Biblioteca Institucional, un espacio que sin lugar a duda aportará significativamente al desarrollo académico de nuestros estudiantes. Marcelo Aguilera, Rector del Instituto, recalcó que la labor conjunta de autoridades, docentes, administrativos y estudiantes permitieron cumplir con esta obra que refleja una Institución en constante mejora.</em></h1>

  



