
<style>
    
    .vl {
  border-left: 6px solid rgb(0, 0, 0);
  height: 707px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  margin-top: 56px;
  top: 0;
}
    

    table {
      font-family: arial, sans-serif;
      width: 60%;
    margin-top: 5%;
      text-align: center;
    }
    
    td, th {
    
      text-align: center;
      padding: 8px;
    }
    
    
    tr:nth-child(even) {
      background-color: #ffffff;
      
    }
    
    h3 {
        text-align: center; 
        margin-inline-start: 30%;
    
    }
    
    h4 {
    font-size:50px;
margin-top: 3%;
    text-align: left; 
    margin-inline-start: 13%;
    }
    h5 {
margin-top: 1%;
    text-align: left; 
    margin-inline-start: 10%;
    }
    
    </style>

    <h4>Crear nueva cuenta</h4>

<table>
    
        
    <tr>
      <th><h3>Cedula:</h3></th>
      <th><h5><input type="text" name="nombre" value="" size="30" required></h5></th>
    </tr>
    <tr>
      <td><h3>Nombres:</h3></td>
      <td><h5><input type="text" name="nombre" value="" size="30" required></h5></td>

    </tr>
    <tr>
      <td><h3>Usuario:</h3></td>
      <td><h5><input type="text" name="nombre" value="" size="30" required></h5></td>

    </tr>
    <tr>
      <td><h3>Celular:</h3></td>
      <td><h5><input type="tel" name="nombre"  size="30" placeholder="ingrese su numero de celular" required></h5></td>

    </tr>

    
    <tr>
      <td><h3>E-mail:</h3></td>
      <td><h5><input type="email" name="name" value="" size="30" placeholder="ingrese su correo electronico" required></h5></td>

    </tr>
      <tr>
        <td><h3>Contraseña:</h3></td>
        <td><h5><input type="password" name="name" value="" size="30" required></h5></td>
  
      </tr>
      

    
  </table>

  <div class="vl"></div>
  
