.destacado {
    margin-left: 3em;
    margin-right: 3em;
}

.scroll {
    overflow-y: scroll;
}

.cabezera {
    background-color: #0C3769 ;
    color: white;
}


.elemento {
    background-image: url();
    background-repeat: no-repeat;
    background-position: right;
}

.container {
    left: 75%;
    top: 27%;
    position: relative;
    border: 1px solid black;

}

.buscar {
    width: 550px;
    margin-left: 50px;
}















button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #1C69B7;
  border: none;
  border-radius: 16px;
}

button img {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover img {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}