<body>
  <div class="form-container">
    <p class="title">Inicio Sesión</p>
    <form class="form">
      <p >Porfavor inicie sesión en google</p>
      <button class="btn-outline-primary" routerLink="/app-registro-usuario">REGISTRATE</button>
      <!--<asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
      <div *ngIf="user">
          <img src="{{ user.photoUrl }}">
          <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
          </div>
      </div>-->
    </form>
  </div>
  
</body>