<header class="text-center" style="font-size:45px;"> <strong>Inicio Sesión</strong></header>

<body class="elemento" ba>
  <form ngNativeValidate style="text-align:center ;" method="post" (ngSubmit)="notificacion()">
    <div class="mb-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fusuario%20(1).png?alt=media&token=03b9a82c-d34a-428c-9c01-4e91a71f69ee"
        width=150 height=150><br>
      <label for="exampleInputEmail1" class="destacado form-label">
        <font size="4">Correo:</font>
      </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="segapell" class="text-center" id="txtcorreo" value="" size="55"
        placeholder="Escriba su correo institucional" required>
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="destacado form-label">
        <font size="4">Contraseña:</font>
      </label>&nbsp;&nbsp;&nbsp;
      <input name="contra" type="password" id="txtcontra" class="text-center" value="" size="55" required>
    </div>
    <button type="submit" class="boton btn btn-primary" style="background-color:#2E2F5E ;">Iniciar
      Sesión</button><br><br>
    <label for="" style="color:#2E2F5E ;" routerLink="/app-registro-usuario"><u>Registrate aquí</u></label>
    
    
    
  </form>
  
  
</body>
