.destacado {
  margin-top: 2em;
}

.elemento {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20fondo%20borroso%20peque%C3%B1o.jpg?alt=media&token=8a7bcc9b-f7e0-4757-b3eb-2a20e389ffae);
  background-repeat: no-repeat;
  background-position: right;
}