<header class="text-center" style="font-size:45px;"> <strong>Inicio Sesión</strong></header>

<body class="elemento" >
    <div class="container overflow-hidden text-center col-sm-1">
        <div class="row gx-5">
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fmodificar.png?alt=media&token=80f892de-c49a-4833-8019-1e8d7ec8ef06" width=30 height=30 align="center"><br>
            <label>Modificar</label>
          </div>
        </div>
      </div>
</body>
