<app-header></app-header>
<h1 class="text-light bg-dark text-center">{{ title }} </h1>
<div class="card text-bg-dark container-fluid" style="width: 50rem;">
    <img src="https://sites.google.com/site/sitee580110324/_/rsrc/1486642267702/home/welcome_free_to_use_by_samurai_pegasis-d6n91ws.png" class="card-img">
    <div class="card-img-overlay">
      <h5 class="card-title">Instituto Tecnologico Del Azuay</h5>
      <p class="card-text">Este es mi primer espacio creado con angular que representa la lista de proveedores, clientes y productos</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
<router-outlet></router-outlet>
<app-footer></app-footer>