<body class="elemento">
    <p style="text-align: center; font-size: 30px; margin-top: 2dvb; color: #2E2F5E;"><strong>Devolución de un
            libro</strong></p>
    <div style="display: flex; flex-wrap: wrap;">

        <div style="flex-basis: 80%; flex-grow: 9;">
            <div class="card bg-transparent shadow-none border-0 " style="margin-bottom: -5%;">
                <div class="card-body">
                    <div class="imagen">
                        <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
                            height="40" width="160" style="margin-left: 20%; margin-top: -10%;">
                    </div>
                    <form style="margin-left: 15%; margin-right: 15%; margin-top: -3%;">
                        <div style="display: flex; justify-content: space-between;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Cédula del
                                Estudiante:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Documento
                                Habilitante:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Titulo del
                                libro:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Estado
                                entregado:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label"
                                style="font-size: 17px; color: #2E2F5E;">Entrega:</label>
                            <input class="text-center" type="text" size="20" style="text-align: right;">
                            <label class="destacado form-label"
                                style="font-size: 17px; color: #2E2F5E;">Devolución:</label>
                            <input class="text-center" type="text" size="20" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Fecha en la que
                                devuelve:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Bibliotecario
                                que entrego:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Bibliotecario
                                que recibe:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label" style="font-size: 17px; color: #2E2F5E;">Estado actual
                                del libro:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>

                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label"
                                style="font-size: 17px; color: #2E2F5E;">Penalización:</label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2" style="margin-left: -3%;">
                                Si
                            </label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2" style="margin-left: -3%; margin-right: 20%;">
                               No
                            </label>
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 2dvb;">
                            <label class="destacado form-label"
                                style="font-size: 17px; color: #2E2F5E;">Observaciones:</label>
                            <input class="text-center" type="text" size="60" style="text-align: right;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="flex-basis: 20%; flex-grow: 1;">
            <div class="card bg-transparent shadow-none border-0 ">
                <div class="card-body" style="border: 2px solid #2E2F5E; margin-right: 20%; align-items: center;">
                    <div class="col">
                        <div class="col">
                            <button class="btn" type="submit" style="background-color:transparent ; color: #2E2F5E;">
                                <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar%20libro.png?alt=media&token=b7f639da-1aaa-4d12-8133-a59742d32d87"
                                    width=25 height=25 align="center">
                                Guardar</button>
                        </div>
                        <button class="btn" type="button" style="background-color:transparent; color: #2E2F5E;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fmodificar.png?alt=media&token=80f892de-c49a-4833-8019-1e8d7ec8ef06"
                                width=30 height=25 align="center">
                            Modificar</button>
                    </div>
                    <div class="col">
                        <button class="btn" type="button" style="background-color:transparent; color: #2E2F5E; margin-left: 3px;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Flistas.png?alt=media&token=97df573d-51ec-4d24-8b96-d68164b717ff"
                                width=25 height=25 align="center">
                            Lista Prestamos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>