.elemento {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Ffondo-blanco.jpg?alt=media&token=c8998dec-d6d9-4e39-a6f4-7aff45ede80d);
    background-repeat: no-repeat;
    background-position: right;
  }
  .tarjeta {
    margin: 60px;
    border-radius: 8px;
    overflow: hidden;
    background: #012844;
   
}