<div class="card">
    <div class="card-header">
      Este proyecto nos va a sacar el aire
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>FechaNacimiento</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.createat}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>