.libros {
    overflow-y: scroll;
}

.card {
    
    width: 50%;
    margin-top: 10%;
    border: none;
}
.tarjeta-subir-foto {
    
    height: 35%;
    width: 25%;
    border: 6px double rgb(0, 0, 0);
    align-items: center;
    margin-left: 53%;
    position: absolute; top: 30%;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
}

.tarjeta-registrar-donante{
    height: 40%;
    width: 45%;
    border: 6px double rgb(0, 0, 0);
    align-items: center;
    margin-left: 53%;
    position: absolute; top: 68%;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
}

.tarjeta-registrar-autor{
    height: 30%;
    width: 45%;
    border: 6px double rgb(0, 0, 0);
    align-items: center;
    margin-left: 53%;
    position: absolute; top: 110%;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
}

.tarjeta-registrar-tipo-libro{
    height: 30%;
    width: 45%;
    border: 6px double rgb(0, 0, 0);
    align-items: center;
    margin-left: 53%;
    position: absolute; top: 145%;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
}

.elemento {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20fondo%20borroso%20peque%C3%B1o.jpg?alt=media&token=8a7bcc9b-f7e0-4757-b3eb-2a20e389ffae);
    background-repeat: no-repeat;
    background-position: 100%;
  }
.cabezera {
    background-color: #012844;
    color: white;
}

.contenedor {
   border: #012844;
}

.buscar{
    width: 450px;
}

.solicitud{
    
    background-color: #dde1e3;
    color: #012844;
    margin-left: 91%;
    margin-top: -3%;
   
   
}

h5{
   font-size: 1.5cm;
}
.tarjeta {
    height: 35%;
    width: 13%;
    border: 6px double rgb(0, 0, 0);
    align-items: center;
    margin-left: 85%;
    position: absolute; top: 30%;
    border-radius: 8px;
    overflow: hidden;
    background: #e0e4e6;
   
}
.imagen{
    margin-block-end: -5%;
    margin-top: -5%;
    
    

}

.vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 615px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top: 105px;
    top: 0;
  }
     h3 {
          text-align: center; 
          margin-inline-start: 10%;
      
      }
      h2{
        font-size: 19px;
        text-align: center;
        margin-inline-start: 10%;
      }
      
      h4 {
      font-size:45px;
  margin-top: 1%;
      text-align: left; 
      margin-inline-start: 11%;
      }
      h5 {
  margin-top: 0%;
  font-size: 0px;
      text-align: left; 
      margin-inline-start: 23%;
  
      }
  
      h6 {
  margin-top: 0%;
  font-size: 0px;
      text-align: left; 
      margin-inline-start: 20%;
  
      }
  
      h1 {
         margin-top: -4%;
          text-align: right; 
          margin-inline-start: 5%;
          
      
      }